html, body {
/*    background-color: #000;*/
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.card div{
    width: 510px;
    position: absolute;
    left: 80px;
    top: 80px;
    font-size: 30px;
    color: #00ffff;
    font-weight: bold;
}
.card div img{
    left: 30px;
    top: 280px;
}
.card img{
    position: absolute;

}

li{
    list-style:none;
    line-height: 40px;

}
input[type=radio]{
    width: 25px;
    height: 25px;
}
.card ul{
    padding: 0px;
}
*{
    margin: 0px auto;
    padding: 0px;
}
body{
    height: 100%;
}
li{
    list-style: none;
}

.tex li{
    list-style: none;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: "微软雅黑";
    color: aliceblue;
    font-weight: bold;
}
.mix li{
    list-style: none;
    font-size: 1.3rem;
    line-height: 2.3rem;
    font-family: "微软雅黑";
    color: aliceblue;
    font-weight: bold;
}
p{
    position: absolute;
    left: 22rem;
    bottom: 12rem;
}
a{
    position: absolute;
    left: 26rem;
    bottom: 33rem;
}
.page{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    left: 0px;
    top: 0px;
}
.beib{
    position: absolute;
    left: 19rem;
    bottom: 47rem;
}
.bg{
    width: 100%;
    height: 100%;
}
.one{
    position: absolute;
    left: 6rem;
    bottom: 11.5rem;
}
.two{
    position: absolute;
    left: 2rem;
    bottom: 12rem;
}
.two2{
    position: absolute;
    left: 2rem;
    bottom: 6rem;
}
.one_four{
    position: absolute;
    left: 21rem;
    bottom: 4rem;
}
.two_four{
    position: absolute;
    left: 5rem;
    bottom: 4rem;
}
.noe_five{
    position: absolute;
    left: 7rem;
    bottom: 18rem;
}
.two_five{
    position: absolute;
    left: 7rem;
    bottom: 9rem;
}
.now_six{
    position: absolute;
    left: 7rem;
    bottom: 3rem;
}
.one_sven{
    position: absolute;
    left: 5rem;
    bottom: 8.5rem;
}
.two_sven{
    position: absolute;
    left: 20rem;
    bottom: 8.5rem;
}
.one_three{
    border: none;
    width: 25px;
    height: 25px;
    background: url(../img/d.webp) no-repeat center;
    position: absolute;
    left: 12rem;
    bottom: 33.5rem;
}
.two_three{
    border: none;
    width: 25px;
    height: 25px;
    background: url(../img/d.webp) no-repeat center;
    position: absolute;
    left: 22rem;
    bottom: 33.5rem;
}
.one1_three{
    position: absolute;
    left: 13rem;
    bottom: 19rem;
}
.tex{
    width: 52%;
    position: absolute;
    left: 5rem;
    top: 12rem;
}

.mix{
    width: 61%;
    position: absolute;
    left: 8rem;
    top: 38rem;
}
.klas{
    width: 61%;
    position: absolute;
    left: 8rem;
    top: 34.5rem;
}
.page span{
    width: 100%;
    position: absolute;
    left: 6.5rem;
    top: 51.2rem;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: "微软雅黑";
    color: aliceblue;
    font-weight: bold;
}
#sharePage span{
    top:48.7rem;
}
.klas li{
    list-style: none;
    font-size: 1.3rem;
    line-height: 2.3rem;
    font-family: "微软雅黑";
    color: aliceblue;
    font-weight: bold;
}
#preview{
    display: block;
    max-width: 70%;
    max-height: 35%;
    margin: auto;
    height: auto;
    width: auto;
    position: relative;
    top: 48.7%;
    left: -48%;
}
#music.on {
    background-image: url(../img/music_on.png);
    animation: 4s rotate infinite linear;
    -webkit-animation: 4s -webkit-rotate infinite linear;
}
#music.off {
    background-image: url(../img/music_off.png);
}
#music {
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 4%;
    top: 4%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@keyframes -webkit-rotate {
    0%{
        -webkit-transform: rotate(0);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}

#clipArea{
/*    background-color: aliceblue;
    opacity: 0.5;*/
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 28rem;
    height: 27rem;
    margin-left: -225px;
    margin-top: -363px;
}

/*#avatar-ps{
    position: absolute;
    left: 22%;
    top: 27%;
    width: 9rem;
    opacity: 0.5;
}*/

.face{
    position: absolute;
    z-index: -1;
}
.face-men{
    left: 19.5%;
    top: 19%;
    width: 10.3rem;
}
.face-women{
    left: 21.5%;
    top: 21.5%;
    width: 10rem;
}

.share-face-women{
    left: 21.5%;
    top: 18.5%;
    width: 10rem;
}

.star{
    position: absolute;
    left: 19rem;
    bottom: 27rem;
}
.star img{
    max-height: 29rem;
}

.star2{
    position: absolute;
    left: 19rem;
    bottom: 30rem;
}
.star2 img{
    max-height: 27rem;
}
.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.9;
    z-index: 2;
    display: none;
}
.result-rect{
    width: 110px;
    height: auto;
    position: absolute;
    right: 2rem;
    top: 56.2rem;
}
.share-rect{
    width: 95px;
    height: auto;
    position: absolute;
    right: 2rem;
    top: 57rem;
}
/*.demo--radio {
    display: none
}

.demo--radioInput {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    display: inline-block;
    height: 16px;
    margin-right: 10px;
    margin-top: -1px;
    vertical-align: middle;
    width: 16px;
    line-height: 1
}

.demo--radio:checked+.demo--radioInput:after {
    background-color: #00ffff;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 12px;
    margin: 2px;
    width: 12px
}*/


